<div class="row">
    <div class="col-xs-12">
        <div class="hr hr-18 dotted hr-double"></div>
        <h4 class="pink">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            <a href="#modal-table" role="button" class="green" data-toggle="modal">プランマスタ管理</a>
        </h4>
        <div class="hr hr-18 dotted hr-double"></div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" (click)="add($event)">
                    <i class="ace-icon fa fa-check"></i>
                    新規プラン追加
                </button>
                <h3 class="header smaller lighter blue">Plan List</h3>
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr class="custom">
                                <th colspan="6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">プラン名</label>

                                        <div class="col-sm-9">
                                            <input type="text" id="form-field-1" class="col-xs-10 col-sm-10" [(ngModel)]="filterQuery"/>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th><mfDefaultSorter by="plan_code">プランID</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="plan_name">プラン名</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="plan_last_upd_user">最終更新者</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="plan_last_upd_date">最終更新日時</mfDefaultSorter></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{{item.plan_code}}</td>
                                <td>{{item.plan_name}}</td>
                                <td>{{item.plan_last_upd_user}}</td>
                                <td>{{item.plan_last_upd_date}}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="javascript:void(0)" (click)="openDetail($event, item.plan_code)">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>

                                        <a class="green" href="javascript:void(0)" (click)="edit($event, item.plan_code)">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" href="javascript:void(0)" (click)="delete($event, item.plan_code)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="javascript:void(0)" class="tooltip-info" data-rel="tooltip" title="View" (click)="openDetail($event, item.plan_code)">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="javascript:void(0)" class="tooltip-success" data-rel="tooltip" title="Edit" (click)="edit($event, item.plan_code)">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="javascript:void(0)" class="tooltip-error" data-rel="tooltip" title="Delete" (click)="delete($event, item.plan_code)">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<modal  #modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="navigate()" (onOpen)="opened()" [cssClass]="cssClass">
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{titleDetail}}</h4>
    </modal-header>
    <modal-body *ngFor="let item of planDetail">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> プランID </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">{{ item.plan_code}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> プラン名 </div>
                <div class="profile-info-value">
                    <span class="editable" id="country">{{ item.plan_name}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> プラン説明 </div>

                <div class="profile-info-value">
                    <span class="editable" id="age">{{ item.plan_desc}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> プラン区分 </div>

                <div class="profile-info-value">
                    <span class="editable" id="signup">{{ item.plan_class}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 初回値引金額 </div>

                <div class="profile-info-value">
                    <span class="editable" id="login">{{ item.plan_initial_dis}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> プラン表示開始日 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">{{ item.plan_start_date}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> プラン表示終了日 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">{{ item.plan_end_date}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 最終更新者 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">{{ item.plan_last_upd_user}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 最終更新日時 </div>

                <div class="profile-info-value">
                    <span class="editable" id="about">{{ item.plan_last_upd_date}}</span>
                </div>
            </div>

        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="navigateModal.dismiss()">Cancer</button>
    </modal-footer>
</modal>

<modal #parentModal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
    (onOpen)="opened()" [cssClass]="cssClass">

    <form  class="custom-form" [formGroup]="planForm" (ngSubmit)="save(planForm.value, planForm.valid)">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{titleDetail}}</h4>
        </modal-header>
        <modal-body>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_code"> プランID </label>

                    <div class="col-sm-9 input-group">
                        <input type="text" formControlName="plan_code" [(ngModel)]="modelPlan.plan_code" name="plan_code" id="plan_code" placeholder="" class="col-xs-10 col-sm-10">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_name"> プラン名 </label>

                    <div class="col-sm-9 input-group">
                        <input type="text" formControlName="plan_name" [(ngModel)]="modelPlan.plan_name" name="plan_name" id="plan_name" placeholder="" class="col-xs-10 col-sm-10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_desc"> プラン説明 </label>

                    <div class="col-sm-9 input-group">
                        <textarea formControlName="plan_desc" class="col-xs-10 col-sm-10" [(ngModel)]="modelPlan.plan_desc"  name="plan_desc" id="plan_desc" maxlength="50"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_class"> プラン区分 </label>

                    <div class="col-sm-9 input-group">
                        <select [(ngModel)]="modelPlan.plan_class" name="plan_class" id="plan_class" formControlName="plan_class">
                          <option *ngFor="let itemclass of planClass" value= {{itemclass.id}}>
                            {{itemclass.name}}
                          </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_initial_dis"> 初回値引金額 </label>

                    <div class="col-sm-9 input-group">
                        <input type="text" formControlName="plan_initial_dis" [(ngModel)]="modelPlan.plan_initial_dis" name="plan_initial_dis" id="plan_initial_dis" placeholder="" class="col-xs-10 col-sm-10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_start_date"> プラン表示開始日 </label>

                    <div class="col-sm-6 input-group">
                        <input class="col-xs-10 col-sm-12 date-picker" formControlName="plan_start_date" [(ngModel)]="modelPlan.plan_start_date" id="plan_start_date" name="plan_start_date" type="text" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="plan_end_date"> プラン表示終了日 </label>

                    <div class="col-sm-6 input-group">
                        <input class="col-xs-10 col-sm-12 date-picker" formControlName="plan_end_date" [(ngModel)]="modelPlan.plan_end_date" id="plan_end_date" name="plan_end_date" type="text" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="parentModal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!planForm.valid">Ok</button>
        </modal-footer>
    </form>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()" (onOpen)="opened()" [cssClass]="cssClass" #modelDelete>
    <form>
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{titleDetail}}</h4>
        </modal-header>
        <modal-body>
            <p>選択したデータを削除しますが、よろしいですか？</p>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-primary" id="delete" (click)="submit($event)">Ok</button> 
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modelDelete.dismiss()">Cancel</button>            
        </modal-footer>
    </form>
</modal>

